@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

.cm-editor {
	width: 600px;
}

.cm-editor .cm-wrap {
	border: 1px solid lightgrey;
	border-radius: 1px;
}

.cm-editor .cm-scroller {
	background-color: white;
	font-family: "Fira Code", monospace;
}

@supports (font-variation-settings: normal) {
	.cm-editor .cm-scroller {
		font-family: "Fira Code VF", monospace;
	}
}

.cm-editor .cm-panel-lint,
.cm-editor .cm-tooltip-lint {
	font-family: "Fira Code", monospace;
	font-size: 0.75em;
}

.cm-editor .cm-panel-lint button {
	display: none;
	pointer-events: none;
}
